<div class="div-principal-01">
    <section class="container-apresentacao">
        <div class="item01-apresentacao">
            <img src="/assets/imgPrincipal.png" alt="Imagem de apresentação">
        </div>
        <div class="item02-apresentacao">
            <h2>Ar Puro é<br>Vida Mais <br>Saudável</h2>
            <p>Monitore a qualidade do ar<br>
                em sua região e respire com<br>
                confiança, cuidando da sua<br>
                saúde a cada instante.</p>
           
                <a routerLink="./pesquisa">Consultar Agora</a>
            
        </div>
    </section>
</div>

<div class="div-principal-02">
    <div id="divisoria-pequena"></div>

    <!-- Depoimentos -->
    <section class="container-depoimento-fora">
        <h2>Histórias de Quem Respira Melhor</h2>
        <div class="container-depoimento-dentro">
            <div class="depoimento-dentro">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="/assets/user.png" alt="Imagem de Maria Clara"></div>
                        <h3>Maria Clara</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="/assets/estrela.png" alt="Estrela">
                        <p>"Com o ArPuro, consigo saber a qualidade do ar antes de sair de casa. Como tenho problemas
                            respiratórios, essa ferramenta tem sido essencial para minha saúde!"</p>
                    </div>
                </section>
            </div>

            <div class="depoimento-dentro" id="teste">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="/assets/user.png" alt="Imagem de Carlos Mendes"></div>
                        <h3>Carlos Mendes</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="/assets/estrela.png" alt="Estrela">
                        <p>"Agora fico tranquilo ao planejar passeios com minha família. Saber como está o ar na minha
                            cidade faz toda a diferença!"</p>
                    </div>
                </section>
            </div>

            <div class="depoimento-dentro">
                <section class="item-depoimento">
                    <div class="depo-part1">
                        <div class="imagem-depoimento"><img src="/assets/user.png" alt="Imagem de Mariana Oliveira">
                        </div>
                        <h3>Mariana Oliveira</h3>
                    </div>
                    <div class="depo-part2">
                        <img src="/assets/estrela.png" alt="Estrela">
                        <p>"O ArPuro se tornou uma parte importante do meu dia a dia. Monitorar a qualidade do ar é
                            fundamental para quem, como eu, tem asma."</p>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>