<h2>Sobre-nós</h2>
    <section class="sobre-nos">
        <p>O projeto Ar-Puro foi desenvolvido pelos estudantes do 4º período de Engenharia de Software da Universidade
            Unifio. Nosso objetivo é criar uma plataforma que permita monitorar a qualidade do ar em diferentes regiões,
            proporcionando informações essenciais para aqueles que necessitam de um cuidado especial com a saúde
            respiratória. Inspirados pela responsabilidade social e pelo impacto da tecnologia no bem-estar, estamos
            comprometidos em oferecer uma ferramenta confiável, acessível e de fácil utilização.</p>
    </section>
